# Ignore everything in the Debug and Release folders
**/Debug/
**/Release/

# Ignore object and binary files
*.obj
*.exe
*.dll
*.lib
*.pdb
*.idb
*.exp

# Ignore logs
*.log
*.lastbuildstate
*.tlog
*.write
*.recipe
*.db

# Ignore Visual Studio temporary files
.vs/
*.vcxproj.*
*.sln.docstates
*.user
*.ipch
*.suo
*.cache
*.sdf
*.opensdf

# Ignore Rider
.idea/
cmake-build-*/

# Ignore OS files
.DS_Store
Thumbs.db
Desktop.ini

# Keep source files
!*.cpp
!*.h